body{
    background: url(./contact.jpg) center center/cover;
}
.form >input{
    width: 80%;
    margin: 12px 0;
    padding: 9px;
    margin-left: 12px;
    background: none;
    border: 3px solid white;
    color: white;
    font-size: 16px;
}
table {
    height: 1px
}
.form{
    width: 600px;
    margin-top: 9px;
}
label{
   margin-right: 30px;
   margin-left: 12px;
   color: white;
}
.table{
    color: white;
    width: 830px;
    margin-top: 30px;
}
span{
    font-size: 16px;
}
.btn{
    margin-top: -10px;
}
.table th{
    font-size: 18px;
}
.box input{
    border: 2px solid rgb(168, 0, 0);
}
